* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  color: #bf07a9; }

#main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; }

.contact-info {
  list-style-type: none;
  font-style: oblique;
  font-weight: bolder;
  font-size: larger; }

.contact-info > li {
  margin-bottom: 8px; }
